# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [2]:
s = "Hi there Sam!"
f=s.split();
print(f)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [3]:
planet="Earth";
diameter="12742"
print("The diameter of {} is {} Kilometers".format(planet,diameter))

The diameter of Earth is 12742 Kilometers

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [4]:
d = {
     'k1':[1,2,3,
           {'tricky':['oh','man','inception',
                            {'target':[1,2,3,'hello']}]}]
     }


y=d['k1'][3]
z=y['tricky'][3]
a=z['target'][3]
print(a)

hello

# Numpy

In [5]:
import numpy as np

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [9]:
import numpy as np
a=np.zeros(10)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [10]:
import numpy as np
b=np.ones(10)*5
print(b)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [11]:
import numpy as np
e=np.arange(10,35,2)
print(e)

[10 12 14 16 18 20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [13]:
import numpy as np
mat= np.arange(0,9).reshape(3,3)
print(mat)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [14]:
import numpy as np
a=np.array([1, 2, 3])
b = np.array([4, 5, 6])
y=np.concatenate((a,b),axis=0)
z=np.concatenate((b,a),axis=0)
print(y)
print(z)

[1 2 3 4 5 6]
[4 5 6 1 2 3]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [15]:
import pandas as pd
name=["ram","ravi","raj"]
sno=["1","2","3"]
data=pd.DataFrame(name,sno)
print(data)

      0
1   ram
2  ravi
3   raj

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [17]:
import pandas as pd
d = pd.date_range(start ='1-1-2023', 
         end ='2-10-2023', freq ='24H')
  
for i in d:
    print(i)

2023-01-01 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-07 00:00:00
2023-01-08 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-14 00:00:00
2023-01-15 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-21 00:00:00
2023-01-22 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-28 00:00:00
2023-01-29 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-04 00:00:00
2023-02-05 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [16]:
import pandas as pd
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
y=pd.DataFrame(lists,columns=['sno','name','value'])
print(y)
z=pd.DataFrame(lists)
print(z)

   sno name  value
0    1  aaa     22
1    2  bbb     25
2    3  ccc     24
   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24