## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [2]:
d = s.split()

In [3]:
print(d)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {0} is {1} kilometers" .format ("Earth","12742"))

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
d['k1'][3]['tricky'][3]['target'] [3]

'hello'

# Numpy

In [8]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [9]:
 g= np.zeros(10)

In [10]:
print (g)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [11]:
y = np.ones(10)*5

In [12]:
print (y)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [13]:
dr = np.arange(20,35,2)

In [14]:
print(dr)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [15]:
st = np.arange(9).reshape (3,3)

In [16]:
print(st)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [17]:
import numpy as np

In [18]:
a = np.array([1,2,3])
b = np.array([4,5,6])

In [19]:
al = np.concatenate((a,b))

In [20]:
print(al)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [21]:
import pandas as pd

In [22]:
w = pd.DataFrame({'X': [1,2,3],'Y':[4,5,6]})

In [23]:
print(w)

   X  Y
0  1  4
1  2  5
2  3  6

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [24]:
pd.date_range(start = '01/01/2023', end = '10/02/2023')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [25]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [26]:
q = pd.DataFrame(lists,columns = ['a','b','c'])

In [27]:
print(q)

   a    b   c
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24